In [1]:
# Import necessary libraries
import pandas as pd

# Load CSV files into DataFrames
users_df = pd.read_csv("users.csv")


# Display the first few rows of each DataFrame to verify they loaded correctly
print("Users DataFrame:")
display(users_df.head())



# Basic info about the data to check column names, types, and non-null counts
print("Users DataFrame Info:")
users_df.info()

Users DataFrame:

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,huggingface,Hugging Face,NaN,NYC + Paris,NaN,False,The AI community building the future.,261,38254,0,2017-02-12T11:20:28Z
1,brunosimon,Bruno Simon,CREATIVE JOURNEY,Paris,NaN,True,NaN,79,18766,0,2013-09-11T23:44:41Z
2,fabpot,Fabien Potencier,SYMFONY/PLATFORM.SH/BLACKFIRE,"Paris, France",fabien@symfony.com,False,Founder and project lead at Symfony\r\nCPO at ...,77,13245,0,2009-01-17T13:42:51Z
3,Charles-Chrismann,Charles Chrismann,INSTITUT DE L'INTERNET ET DU MULTIMÉDIA (IIM),"Paris, La Défense",NaN,False,Étudiant en 3e année de Développement Web à l'...,35,12117,218312,2021-01-28T14:18:01Z
4,posva,Eduardo San Martin Morote,FREELANCE,Paris,NaN,True,"Member of the @vuejs core team\r\nSpeaker, tra...",323,5900,58,2011-03-11T14:29:46Z

Users DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   login         383 non-null    object
 1   name          378 non-null    object
 2   company       255 non-null    object
 3   location      383 non-null    object
 4   email         195 non-null    object
 5   hireable      383 non-null    bool
 6   bio           287 non-null    object
 7   public_repos  383 non-null    int64
 8   followers     383 non-null    int64
 9   following     383 non-null    int64
 10  created_at    383 non-null    object
dtypes: bool(1), int64(3), object(7)
memory usage: 30.4+ KB

In [2]:
repos_df = pd.read_csv("repositories.csv")
print("Repositories DataFrame:")
display(repos_df.head())

print("\nRepositories DataFrame Info:")
repos_df.info()

Repositories DataFrame:

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,huggingface,huggingface/diffusers,2022-05-30T16:04:02Z,25966,25966,Python,True,True,apache-2.0
1,huggingface,huggingface/transformers,2018-10-29T13:56:00Z,134255,134255,Python,True,True,apache-2.0
2,huggingface,huggingface/huggingface_hub,2020-12-22T10:20:28Z,2082,2082,Python,True,False,apache-2.0
3,huggingface,huggingface/datatrove,2023-06-14T12:05:28Z,2015,2015,Python,True,True,apache-2.0
4,huggingface,huggingface/hf-endpoints-documentation,2022-09-01T06:25:28Z,11,11,NaN,True,True,NaN

Repositories DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37501 entries, 0 to 37500
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   login             37501 non-null  object
 1   full_name         37501 non-null  object
 2   created_at        37501 non-null  object
 3   stargazers_count  37501 non-null  int64
 4   watchers_count    37501 non-null  int64
 5   language          27972 non-null  object
 6   has_projects      37501 non-null  bool
 7   has_wiki          37501 non-null  bool
 8   license_name      21036 non-null  object
dtypes: bool(2), int64(2), object(5)
memory usage: 2.1+ MB

In [45]:
#Q1

# Filter users from Paris
paris_users = users_df[users_df['location'].str.contains('Paris', case=False, na=False)]

# Sort by followers and select the top 5
top_paris_users = paris_users.nlargest(5, 'followers')

# Get the logins of the top users, comma-separated
top_paris_logins = ','.join(top_paris_users['login'])
top_paris_logins

'huggingface,brunosimon,fabpot,Charles-Chrismann,posva'

In [12]:
#Q2


# Convert created_at to datetime
users_df['created_at'] = pd.to_datetime(users_df['created_at'])

# Filter users from Paris and sort by created_at
earliest_paris_users = users_df[users_df['location'].str.contains('Paris', case=False, na=False)].nsmallest(5, 'created_at')

# Get the logins of the top users, comma-separated
earliest_paris_logins = ','.join(earliest_paris_users['login'])
earliest_paris_logins

'sunny, nkallen, nono, tdd, luislavena'

In [46]:
#Q3

# Filter users from Paris and get their logins
paris_user_logins = users_df[users_df['location'].str.contains('Paris', case=False, na=False)]['login']

# Filter repositories by the Paris user logins and drop missing license names
popular_licenses_count = repos_df[repos_df['login'].isin(paris_user_logins)]['license_name'].dropna().value_counts()

# Get the top 3 licenses
top_licenses = popular_licenses_count.nlargest(3)

# Get the license names, comma-separated
popular_licenses = ','.join(top_licenses.index)
popular_licenses

'mit,apache-2.0,other'

In [15]:
#Q4

# Filter users from Paris and drop missing company names
paris_users = users_df[users_df['location'].str.contains('Paris', case=False, na=False)]

# Clean up the company names (if needed)
paris_users['company'] = paris_users['company'].str.strip().str.replace('Inc', '').str.replace('LLC', '').str.replace('Corp', '')

# Get the most common company
most_common_company = paris_users['company'].mode()[0]
most_common_company

'HUGGINGFACE'

In [17]:
#q5

# Filter users from Paris and get their logins
paris_user_logins = users_df[users_df['location'].str.contains('Paris', case=False, na=False)]['login']

# Filter repositories by the Paris user logins and drop missing language entries
popular_languages_count = repos_df[repos_df['login'].isin(paris_user_logins)]['language'].dropna().value_counts()

# Get the most common programming language
most_popular_language = popular_languages_count.idxmax()
most_popular_language

'JavaScript'

In [18]:
#Q6


# Convert created_at to datetime
users_df['created_at'] = pd.to_datetime(users_df['created_at'])

# Filter users who joined after 2020
new_users = users_df[users_df['created_at'] > '2020-01-01']

# Get the logins of these users
new_user_logins = new_users['login']

# Filter repositories by the new user logins and drop missing language entries
popular_languages_count = repos_df[repos_df['login'].isin(new_user_logins)]['language'].dropna().value_counts()

# Get the second most common programming language
second_most_popular_language = popular_languages_count.nlargest(2).index[1]
second_most_popular_language

'Python'

In [19]:
#Q7


# Drop missing values in language and stargazers_count
repo_languages = repos_df[['language', 'stargazers_count']].dropna()

# Group by language and calculate the average number of stars
average_stars_per_language = repo_languages.groupby('language')['stargazers_count'].mean()

# Get the language with the highest average number of stars
highest_average_language = average_stars_per_language.idxmax()
highest_average_language

'Blade'

In [21]:
#Q8


# Calculate leader_strength
users_df['leader_strength'] = users_df['followers'] / (1 + users_df['following'])

# Get the top 5 users by leader_strength
top_leaders = users_df.nlargest(5, 'leader_strength')

# Get the logins of the top users, comma-separated
top_leader_logins = ','.join(top_leaders['login'])
top_leader_logins

'huggingface,brunosimon,fabpot,lewagon,BartoszMilewski'

In [23]:
# Filter users from Paris
paris_users = users_df[users_df['location'].str.contains('Paris', case=False, na=False)]

# Merge Paris users with repositories to associate followers and public repos
merged_data = pd.merge(paris_users[['login', 'followers', 'public_repos']], 
                        repos_df[['login', 'full_name']], 
                        on='login', 
                        how='inner')

# Calculate the correlation between followers and public_repos
correlation = merged_data['followers'].corr(merged_data['public_repos'])

# Format the correlation to 3 decimal places
formatted_correlation = round(correlation, 3)
formatted_correlation

0.049

In [41]:
import statsmodels.api as sm

# Prepare the data by selecting relevant columns and dropping missing values
data = users_df[['public_repos', 'followers']].dropna()

# Define the independent variable (X) and dependent variable (y)
X = data['public_repos']  # Independent variable
y = data['followers']      # Dependent variable

# Add a constant to the independent variable (for the intercept)
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Get the regression slope (coefficient for public_repos)
slope = model.params['public_repos']

# Print the slope rounded to 3 decimal places
print(f"Regression slope of followers on repos: {slope:.3f}")

Regression slope of followers on repos: 1.846

In [43]:
print(users_df[['public_repos', 'followers']].describe())

       public_repos     followers
count    378.000000    378.000000
mean     101.058201    840.185185
std      111.803099   2418.914320
min        1.000000    201.000000
25%       33.000000    259.000000
50%       71.000000    353.000000
75%      123.750000    686.250000
max     1097.000000  38254.000000

In [ ]:
#Q11

In [48]:
# Calculate the average following for hireable users
hireable_avg = users_df[users_df['hireable'] == True]['following'].mean()

# Calculate the average following for non-hireable users
non_hireable_avg = users_df[users_df['hireable'] == False]['following'].mean()

# Calculate the difference
average_difference = hireable_avg - non_hireable_avg

# Print the result rounded to 3 decimal places
print(f"Difference in average following (hireable - non-hireable): {average_difference:.3f}")

Difference in average following (hireable - non-hireable): -870.078

In [ ]:
#Q13

In [24]:
#Q14


# Convert created_at to datetime
repos_df['created_at'] = pd.to_datetime(repos_df['created_at'])

# Filter for repositories created on weekends (Saturday = 5, Sunday = 6)
weekend_repos = repos_df[repos_df['created_at'].dt.dayofweek.isin([5, 6])]

# Count repositories created by each user
repo_count_by_user = weekend_repos['login'].value_counts()

# Get the top 5 users who created the most repositories on weekends
top_weekend_users = repo_count_by_user.nlargest(5)

# Get the logins of the top users, comma-separated
top_weekend_user_logins = ','.join(top_weekend_users.index)
top_weekend_user_logins

'MysteriousSonOfGod,rishistyping,vincentbernat,gre,KOUISAmine'

In [30]:
# Total number of users
total_users = users_df.shape[0]

# Number of users with email addresses
total_users_with_email = users_df[users_df['email'].notna()].shape[0]

# Number of hireable users with email addresses
hireable_with_email = users_df[(users_df['hireable'] == True) & (users_df['email'].notna())].shape[0]

# Number of non-hireable users with email addresses
non_hireable_with_email = users_df[(users_df['hireable'] == False) & (users_df['email'].notna())].shape[0]

# Calculate the fractions
hireable_email_fraction = hireable_with_email / total_users_with_email if total_users_with_email > 0 else 0
non_hireable_email_fraction = non_hireable_with_email / total_users_with_email if total_users_with_email > 0 else 0

# Calculate the difference
email_difference = hireable_email_fraction - non_hireable_email_fraction

# Format the result to 3 decimal places
formatted_difference = round(email_difference, 3)
formatted_difference

-0.534

In [37]:
# Count occurrences of each surname
surname_counts = users_df['surname'].dropna().value_counts()

# Print surname counts
print(surname_counts)

surname
Simon        3
Project      2
Synacktiv    2
Fontaine     2
Gomez        2
            ..
Tarral       1
Renault      1
Navratil     1
ACIDS        1
Thomet       1
Name: count, Length: 370, dtype: int64

In [49]:
#Q16

# Extract surnames by splitting the names and taking the last word
users_df['surname'] = users_df['name'].str.split().str[-1].str.strip()

# Filter out missing surnames
surnames = users_df['surname'].dropna()

# Count occurrences of each surname
surname_counts = surnames.value_counts()

# Find the maximum count
max_count = surname_counts.max()

# Get the most common surnames with the maximum count
most_common_surnames = surname_counts[surname_counts == max_count].index.tolist()

# Sort the surnames alphabetically
most_common_surnames.sort()

# Join the surnames into a comma-separated string
result = ", ".join(most_common_surnames)

# Print the result
print(f"Most common surname(s): {result}")

Most common surname(s): Simon